<link rel="stylesheet" href="/assets/css/slick.css">

<div class="container text-center">
	<div class="jumbotron">
		<div class="row">
			<div class="col-lg-12">
				<h1>Bienvenidos a Agenda Empresaria</h1>
				<h4>Aquí encontrarás información relevante para tu negocio y un mundo de oportunidades, rubros y servicios, útiles para apoyar el desarrollo de tus actividades empresarias.</h4><hr>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="card card-inverse">
						<div class="card-block">
							<h3 class="card-title"><strong>Licitaciones</strong></h3>
							<p class="card-text"></p><hr>
							<%= link_to 'Ver ahora', user_bidding_temps_path, class:'btn btn-primary'%>
						</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card card-inverse">
						<div class="card-block">
							<h3 class="card-title"><strong>Proyectos</strong></h3>
							<p class="card-text"></p><hr>
							<%= link_to 'Ver ahora', user_project_temps_path, class:'btn btn-primary'%>
						</div>
				</div>
			</div>
		</div>
		<br>
		<div id="container" style="min-width: 310px; height: 600px; max-width: 9000px; margin: 0 auto"></div>
	</div>
</div>


<%= Gon::Base.render_data %>



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/js/slick.min.js"></script>
<script>

Highcharts.chart('container', {
    chart: {
        type: 'pie',
        options3d: {
            enabled: true,
            alpha: 45,
            beta: 0
        }
    },
    title: {
        text: 'Projectos en Agenda Empresaria'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            depth: 35,
            dataLabels: {
                enabled: true,
                format: '{point.name}'
            }
        }
    },
    series: [{
        type: 'pie',
        name: 'Porcentaje',
        data: [
            ['Forestal', gon.forestal],
            ['Energía', gon.energia],
            {
                name: 'Minería',
                y: gon.mineria,
                sliced: true,
                selected: true
            },
            ['Sanitario', gon.sanitario],
						['Industrial', gon.industrial],


        ]
    }]
},
);
</script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
