<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
  <%= include_gon %>
  <title>Agenda Empresaria</title>
  <!-- Bootstrap core CSS -->
  <link href="/assets/css/style_user.css" rel="stylesheet">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- <%= stylesheet_link_tag "application", :media => "all" %> -->


  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#"><img src="/assets/images/logo.png" alt="" height="70"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-ico n"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to 'Home', user_path, class:'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Licitaciones', user_bidding_temps_path, class:'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Proyectos', user_project_temps_path, class:'nav-link' %>
          </li>
        </ul>
        <!-- <form class="text-center form-inline">
          <input class="form-control mr-sm-2" type="text" placeholder="Buscar proyectos o licitaciones" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form> -->
        <ul class="navbar-nav mr-dropdown  ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Hola <%= current_user.name %>!
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete , class: 'dropdown-item'%>
                </div>
              </li>
         </ul>

      </div>
    </nav>



        <div class="container">


              <%= yield %>




        </div> <!-- /container -->
        <footer class="pb_footer bg-light" role="contentinfo">
              <div class="container">
                <div class="row text-center">
                    <div class="col">
                      <ul class="list-inline">
                          <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-facebook"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-twitter"></i></a></li>
                          <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                      <p class="pb_font-14">© 2018 Agenda Empresaria
                    <br><a href="http://app.agendaempresaria.com" target="_blank">Iniciar sesión</a>  • <a rel="nofollow" href="http://www.agendaempresaria.com/news/" target="_blank">Sala de prensa</a></p>
                    </div>
                </div>
              </div>
          </footer>
  </body>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>

  <script>
    $(document).ready(function() {
        $('#ProjectTable').DataTable();
    } );
  </script>
</html>
